* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 16px/1.5 "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC",
    "WenQuanYi Micro Hei", sans-serif;
  color: #333;
}

/* 去除默认的倾斜效果 */
em,
i {
  font-style: normal;
}

a {
  text-decoration: none;
  color: #333;
}

ul,
ol {
  list-style: none;
}

input {
  border: none;
  outline: none;
  color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}
